
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.name}}</mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.status}} </mat-cell>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef> Odering Date</mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.created}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expectedCusDelDate">
        <mat-header-cell *matHeaderCellDef> Delivery Date</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.expectedCusDelDate}} </mat-cell>
      </ng-container>

<!-- 
      <ng-container matColumnDef="Agent">
        <th mat-header-cell *matHeaderCellDef> Agent Name</th>
        <td mat-cell *matCellDef="let order"> {{order._link.createdBy}} </td>
      </ng-container> -->


      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Order Description</mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.description}}</mat-cell>
      </ng-container>
  
    
  
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>