
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>
  

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Customer Name </th>
      <td mat-cell *matCellDef="let order"> {{order.name}} </td>
    </ng-container>
  

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let order"> {{order.status}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="orderingDate">
      <th mat-header-cell *matHeaderCellDef> Odering Date</th>
      <td mat-cell *matCellDef="let order"> {{order.orderingDate}} </td>
    </ng-container>

    <ng-container matColumnDef="expectedCusDelDate">
        <th mat-header-cell *matHeaderCellDef> Delivery Date</th>
        <td mat-cell *matCellDef="let order"> {{order.expectedCusDelDate}} </td>
      </ng-container>


      <ng-container matColumnDef="Agent">
        <th mat-header-cell *matHeaderCellDef> Agent Name</th>
        <td mat-cell *matCellDef="let order"> {{order.Agent}} </td>
      </ng-container>


      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Order Description</th>
        <td mat-cell *matCellDef="let order"> {{order.description}} </td>
      </ng-container>
  
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>